<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.footprint.article.dao.ArticleDao">

    <insert id="insertArticle" parameterType="Article">
        insert into article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleId != -1">article_id,</if>
            <if test="userId != -1">user_id,</if>
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="totalLike != -1">total_like,</if>
            <if test="timeStamp != -1">time_stamp,</if>
            <if test="imageNum != -1">image_num,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleId != -1">#{articleId},</if>
            <if test="userId != -1">#{userId},</if>
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="totalLike != -1">#{totalLike},</if>
            <if test="timeStamp != -1">#{timeStamp},</if>
            <if test="imageNum != -1">#{imageNum},</if>
        </trim>
    </insert>

    <sql id="queryArticleConditions">
        <where>
            <if test="userId != -1">user_id = #{userId}</if>
            <if test="articleId != -1">and article_id = #{articleId}</if>
            <if test="title != null">and title = #{title}</if>
            <if test="content != null">and content = #{content}</if>
            <if test="totalLike != -1">and total_like = #{totalLike}</if>
            <if test="timeStamp != -1">and time_stamp = #{timeStamp}</if>
            <if test="imageNum != -1">and image_num = #{imageNum}</if>
        </where>
    </sql>

    <resultMap id="ArticleMap" type="Article">
        <id column="article_id" property="articleId"/>
        <result column="user_id" property="userId"/>
        <result column="total_like" property="totalLike"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="time_stamp" property="timeStamp"/>
        <result column="image_num" property="imageNum"/>
    </resultMap>

    <resultMap id="UserMap" type="User">
        <id column="user_id" property="userId"/>
        <result column="face_url" property="faceUrl"/>
        <result column="user_name" property="userName"/>
    </resultMap>

    <sql id="queryUserConditions">
        <where>
            <if test="userId != -1">user_id = #{userId}</if>
            <if test="userName != null">and user_name = #{userName}</if>
            <if test="password != null">and password = #{password}</if>
            <if test="phone != null">and phone = #{phone}</if>
            <if test="faceUrl != null">and face_url = #{faceUrl}</if>
            <if test="gender != null">and gender = #{gender}</if>
            <if test="province != null">and province = #{province}</if>
            <if test="city != null">and city = #{city}</if>
        </where>
    </sql>

    <select id="selectArticles" parameterType="Article" resultMap="ArticleMap">
        select * from article
        <include refid="queryArticleConditions"/>
    </select>

    <select id="selectArticle" parameterType="Article" resultMap="ArticleMap">
        select * from article
        <include refid="queryArticleConditions"/>
    </select>

    <select id="selectArticleCount" parameterType="Article" resultType="Integer">
        select count(1) from article
        <include refid="queryArticleConditions"/>
    </select>

    <select id="getRandomArticle" resultMap="ArticleMap">
        select * from article order by rand(#{timeStamp}) limit #{num}
    </select>

    <update id="TotalLikePlusOne">
        update article set total_like = total_like + 1 where article_id = #{articleId}
    </update>

    <update id="TotalLikeMinusOne">
        update article set total_like = total_like - 1 where article_id = #{articleId}
    </update>

    <select id="selectLikeCount" parameterType="Like" resultType="Integer">
        select count(1) from `like` where article_id = #{articleId} and
            user_id = #{userId}
    </select>

    <delete id="deleteLike" parameterType="Like">
        delete from `like` where article_id = #{articleId} and
        user_id = #{userId}
    </delete>

    <insert id="insertLike" parameterType="Like">
        insert into `like` (id, article_id, user_id)
        values(0, #{articleId}, #{userId})
    </insert>

    <select id="selectUser" parameterType="User" resultMap="UserMap">
        select * from user
        <include refid="queryUserConditions"/>
    </select>

</mapper>