<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.footprint.article.dao.ArticleDao">

    <insert id="insertArticle" parameterType="Article">
        insert into article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleId != -1">article_id,</if>
            <if test="userId != -1">user_id,</if>
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="totalLike != -1">total_like,</if>
            <if test="timeStamp != -1">time_stamp,</if>
            <if test="imageNum != -1">image_num,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleId != -1">#{articleId},</if>
            <if test="userId != -1">#{userId},</if>
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="totalLike != -1">#{totalLike},</if>
            <if test="timeStamp != -1">#{timeStamp},</if>
            <if test="imageNum != -1">#{imageNum},</if>
        </trim>
    </insert>

    <sql id="queryArticleConditions">
        <where>
            <if test="userId != -1">user_id = #{userId}</if>
            <if test="articleId != -1">and article_id = #{articleId}</if>
            <if test="title != null">and title = #{title}</if>
            <if test="content != null">and content = #{content}</if>
            <if test="totalLike != -1">and total_like = #{otalLike}</if>
            <if test="timeStamp != -1">and time_stamp = #{timeStamp}</if>
            <if test="imageNum != -1">and image_num = #{imageNum}</if>
        </where>
    </sql>

    <resultMap id="ArticleMap" type="Article">
        <id column="article_id" property="articleId"/>
        <result column="user_id" property="userId"/>
        <result column="total_like" property="totalLike"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="time_stamp" property="timeStamp"/>
        <result column="image_num" property="imageNum"/>
    </resultMap>

    <select id="selectArticles" parameterType="Article" resultMap="ArticleMap">
        select * from article
        <include refid="queryArticleConditions"/>
    </select>

    <select id="selectArticle" parameterType="Article" resultMap="ArticleMap">
        select * from article
        <include refid="queryArticleConditions"/>
    </select>

    <select id="selectCount" parameterType="Article" resultType="Integer">
        select count(1) from article
        <include refid="queryArticleConditions"/>
    </select>

    <select id="getRandomArticle" resultMap="ArticleMap">
        select * from article order by rand(#{timeStamp}) limit #{num}
    </select>

</mapper>